@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  min-height: 10vh;
  padding: 1rem;
  box-shadow: 0 3px 10px -6px black;
}
header .currentTime {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.logo i {
  font-size: 1.5rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  align-items: center;
  min-height: 80vh;
}

main input {
  width: max(40vw, 300px);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  border: solid 1px rgb(104, 104, 104);
}

main .search {
  position: relative;
}
main .search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  color: rgb(104, 104, 104);
}

main .nextPage {
  width: 100%;
  min-height: 50vh;
  display: none;
}
.nextPage.show {
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
}

main .title {
  text-align: center;
  margin-bottom: 2rem;
}
main .times {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

main .prayer {
  flex: 1 10vw;
  text-align: center;
  padding: 1rem;
  background-color: #efefef;
  border-radius: 0.5rem;
  margin: 0 1rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
}
main .prayer h2 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
main .prayer p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
main .prayer.next {
  transform: scale(1.8);
  border: none;
  margin: 0 3.5rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/fajr.jpeg");
  background-size: 100% 100%;
  color: white;
}
main .prayer.next p {
  font-size: 0.75rem;
}
main .prayer .remaining-time {
  display: none;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

main .prayer.next .remaining-time {
  display: block;
}
